<div id="container">
<!--
  <div id="background"></div>
  <div id="footer"></div>
  <div id="oblako1"></div>
  <div id="oblako2"></div>
  <div id="parashutist"></div>
  <div id="vosdushnii-shar"></div>
  <div id="oblako-text"></div>
-->

  <div id="owl-with-letter">
    <div>
      <img src="/assets/sovushka4.png" id="owl">
      <img src="/assets/letter5.png" id="letter">
        <input type="text" id="subscription_email" placeholder="Введите ваш email" style="position: absolute; left: 100px; top: 260px; font-size: 20px;">
        <input type="submit" id="subscribe-button" disabled="disabled" value="Отправить" style="background-image: url('/assets/button.png'); width: 300px; height: 66px; position: absolute; left: 550px; top: 660px; font-size: 20px;">
        <div id="thank-you" style="display: none; position: absolute; left: 200px; top: 660px; font-size: 20px;">
          Мудрая совушка довольна
        </div>
    </div>
  </div>
  <!--
  <div id="footer" class="parallax-layer" style="width: 2300px;bottom: -80px; left: 40%; margin-left: -920px;">
    <img src="/assets/footer2.png" width="1600">
  </div>
  <div id="oblako1" class="parallax-layer additional-object" style="width: 300px; left: 8%; top: 50%;">
  </div>
  <div id="oblako2" class="parallax-layer additional-object" style="width: 300px; left: 80%; top: 5%;">
  </div>
  <div id="parashutist" class="parallax-layer additional-object" style="width: 300px; left: 8%; top: 1%;">
  </div>
  <div id="vosdushnii-shar" class="parallax-layer additional-object" style="width: 200px; left: 75%; top: 40%;">
  </div>
  <div style="width: 1000px; margin: 0 auto; position: relative;">
  </div>-->
</div>