<div id="wrapper">
  <div id="title_container">
    <h1 id="title">Geek University</h1>
    <img id="logo" src="/assets/owl2.png" alt="geek university"/>
    <h2 id="tagline">Открытый онлайн университет</h2>
  </div>
  <div id="info_container">
    <div id="info_wrapper">
        <div id="info">
          Привет! Скоро мы откроем онлайн университет Geek University с
        </div>
        <form id=subscription>
          <input autofocus="" type="text" id="subscription_email" placeholder="Ваш email">
          <input type="submit" id="subscribe_button" value="Отправить">
          <div id="thank_you">Спасибо</div>
          <div id="incorrect_email">Email введён неверно</div>
        </form>
        <div class="share_wrapper">
          <div class="share_text">Поделиться</div>
          <div class="share_links">
            <a title="Опубликовать в vkontakte" class="vk" href="http://vkontakte.ru/share.php?url=http://geek-university.org" target="_blank"></a>
            <a title="Опубликовать в facebook" class="fb" href="http://www.facebook.com/sharer.php?u=http://geek-university.org" target="_blank"></a>
            <a title="Опубликовать в twitter" class="twitter" href="http://twitter.com/share?text=Открытый онлайн университет Geek University&url=http://geek-university.org" target="_blank"></a>
            <a title="Опубликовать в Google+" class="google" href="https://plus.google.com/share?url=http://geek-university.org" target="_blank"></a>
          </div>
        </div>
    </div>

    <ul id="slider"></ul>
    <div id="overlay"></div>
  </div>
</div>