<div id="container">
  <div id="background" data-xrange='20' data-yrange='20'></div>
  <div id="footer"></div>
  <div id="oblako1"></div>
  <div id="oblako2"></div>
  <div id="parashutist"></div>
  <div id="vosdushnii-shar"></div>
  <div id="about-cloud">
    <div>Привет!
    Спасибо за интерес к Geek University.
    Совсем скоро мы откроем для Вас свои виртуальные двери, а пока оставьте свой e-mail нашей совушке, мы будем держать вас в курсе дел.

    команда GU</div></div>

  <div id="owl-with-letter">
    <img src="/assets/sovushka4.png" id="owl">
    <img src="/assets/letter600clean.png" id="letter">

    <div id="user_action">
      <input autofocus="" type="text" id="subscription_email" placeholder="Введите ваш email">
      <input type="submit" id="subscribe-button" disabled value="Отправить">

      <div id="thank-you" style="display: none; position: absolute; left: 200px; top: 660px; font-size: 20px;">
        Мудрая совушка довольна
      </div>
    </div>
  </div>
</div>