<div id="container">
    <div id="background"></div>
    <div id="footer"></div>
    <div id="oblako1"></div>
    <div id="oblako2"></div>
    <div id="parashutist"></div>
    <div id="vosdushnii-shar"></div>
    <div id="about-cloud"></div>

  <div id="owl-with-letter">
    <img src="/assets/sovushka4.png" id="owl">
    <img src="/assets/letter5.png" id="letter">

    <div id="user_action">
      <input type="text" id="subscription_email" placeholder="Введите ваш email">
      <input type="submit" id="subscribe-button" disabled="disabled" value="Отправить">

      <div id="thank-you" style="display: none; position: absolute; left: 200px; top: 660px; font-size: 20px;">
        Мудрая совушка довольна
      </div>
    </div>
  </div>
</div>