<div id="wrapper">
  <div id="title_container">
    <div class="title_wrapper">
      <h1 id="title">Geek University</h1>
      <img id="logo" src="/assets/owl.png" alt="geek university" width="300" height="300"/>

      <h2 id="tagline">Открытый онлайн университет</h2>
    </div>
  </div>
  <div id="info_container">
    <div id="info_wrapper">
      <div id="info">              
        Привет!
	<br/>
	Geek University - это первый университет, в котором студенты сами определяют образовательную программу.
	<br/>
	Мы будем создавать курсы в соответствии с вашими интересами.	
      </div>
      <form id="subscription">
        <div class="subscription_text_wrapper">
          <div class="subscription_text">Оставить email</div>
          <div id="message" class="subscription_text"></div>
        </div>
        <div class="clear-fix">
          <input type="submit" id="subscribe_button" value="Отправить">
          <div class="subscription_email_wrapper">
            <input autofocus="" type="text" id="subscription_email" placeholder="Ваш email">
          </div>
        </div>
      </form>
      <div class="share_wrapper">
        <div class="share_text">Рассказать друзьям</div>
        <div class="share_links">
          <a title="Опубликовать новость в vkontakte" class="vk" href="http://vkontakte.ru/share.php?url=http://geek-university.org" target="_blank"></a>
          <a title="Опубликовать новость в facebook" class="fb" href="http://www.facebook.com/sharer.php?u=http://geek-university.org" target="_blank"></a>
          <a title="Опубликовать новость в twitter" class="twitter" href="http://twitter.com/share?text=Открытый онлайн университет Geek University&url=http://geek-university.org" target="_blank"></a>
          <a title="Опубликовать новость в Google+" class="google" href="https://plus.google.com/share?url=http://geek-university.org" target="_blank"></a>
        </div>
      </div>
    </div>

    <div id="slider"></div>
    <!--<div id="overlay"></div>-->
  </div>
</div>
