<div id="container">
  <div id="background" data-xrange='10' data-yrange='10'></div>
  <div id="footer"></div>
  <div id="oblako1"></div>
  <div id="oblako2"></div>
  <div id="parashutist"></div>
  <div id="vosdushnii-shar"></div>
  <div id="about-cloud">
    <div id="about-text">
    &nbsp;&nbsp;Привет!<br>
    Спасибо за интерес к Geek University.<br>
    Совсем скоро мы откроем для Вас свои виртуальные двери, а пока оставьте свой<br> e-mail нашей совушке, мы будем держать вас в курсе дел.
    </div>
    <div id="team-signature">команда Geek U</div>
  </div>

  <div id="owl-with-letter">
    <img src="/assets/sovushka4.png" id="owl">
    <img src="/assets/letter600clean.png" id="letter">
    <img src="/assets/left-zrak.png" id="left-eye" data-xrange='5' data-yrange='5'>
    <img src="/assets/right-zrak.png" id="right-eye" data-xrange='5' data-yrange='5'>

    <div id="user_action">
      <div id="recipient-address">в открытый онлайн университет<br><span id="geek-university">Geek University</span></div>
      <div id="recipient-name">мудрой совушке</div>
      <form>
          <input autofocus="" type="text" id="subscription_email" placeholder="введите ваш email">
          <input type="submit" id="subscribe-button" disabled="disabled">
      </form>
      <div id="thank-you" style="display: none; position: absolute; left: 200px; top: 660px; font-size: 20px;">
        Мудрая совушка довольна
      </div>
    </div>
  </div>
</div>