<div class="parallax-viewport" id="parallax" style="min-height: 950px;">
  <div class="parallax-layer" style="width: 2000px; left: 40%; margin-left: -800px; margin-top: 0;">
    <img src="/assets/background2.jpg">
  </div>
  <div id="footer" class="parallax-layer" style="width: 2300px;bottom: -80px; left: 40%; margin-left: -920px;">
    <img src="/assets/footer2.png" width="1600">
  </div>
  <div id="oblako1" class="parallax-layer additional-object" style="width: 300px; left: 8%; top: 50%;">
  </div>
  <div id="oblako2" class="parallax-layer additional-object" style="width: 300px; left: 80%; top: 5%;">
  </div>
  <div id="parashutist" class="parallax-layer additional-object" style="width: 300px; left: 8%; top: 1%;">
  </div>
  <div id="vosdushnii-shar" class="parallax-layer additional-object" style="width: 200px; left: 75%; top: 40%;">
  </div>
  <div style="width: 1000px; margin: 0 auto; position: relative;">
    <%= form_for @subscription, remote: true, :html => {:'data-type' => 'json', :multipart => true} do |f| %>
        <img src="/assets/sovushka_s_pismom2.png" style="width: 1000px;">
        <input type="text" id="subscription_email" placeholder="Введите ваш email" style="position: absolute; left: 210px; top: 660px; font-size: 20px;">
        <input type="submit" id="subscribe-button" disabled="disabled" value="Отправить" style="position: absolute; left: 550px; top: 660px; font-size: 20px;">
    <% end %>
  </div>
</div>

<!--

<%= form_for @subscription, remote: true, :html => {:'data-type' => 'json', :multipart => true} do |f| %>
    <img src="/assets/sovushka_s_pismom2.png" style="width: 1000px;">
    <%= f.text_field :email, placeholder: 'Введите ваш email' %>
    <%= f.submit 'Отправить', id: 'subscribe-button', disabled: 'disabled' %>
<% end %>-->
