<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Спасибо вам за подписку на новости о <a href="<%= @url %>">Geek University</a></h1>
    <p>Мы непременно оповестим вас об открытии университета!</p>

    <p>
      Очень важно как можно раньше понять, что интересно нашим будущим студентам.
      Поэтому, пожалуйста, напишите нам на эту почту geek.university.org@gmail.com что бы вам хотелось изучить.
      Мы приложим все усилия, чтобы найти лекторов и создать курс, который будет интересен именно вам.
    </p>

    <p>
      Если вам есть о чём рассказать и вы готовы создать собственный онлайн курс, то вам просто необходимо с нами связаться.
    </p>

    <p>
      Мы открыты для любых предложений и с удовольствием ответим на ваши вопросы.
      Просто напишите нам на почту geek.university.org@gmail.com
    </p>

    <i>Команда Geek University.</i>
  </body>
</html>