<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Спасибо вам за подписку на новости о <a href="<%= @url %>">Geek University</a></h1>
    <p>Мы неприменно вас оповестим об открытии университета!</p>
    <p>
      Пожалуйста, напишите нам на эту почту geek.university.org@gmail.com, что бы вам хотелось изучить.
      Мы приложим все усилия, чтобы найти лекторов и создать курс, который будет интересен именно вам.
    </p>
  </body>
</html>