<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
  </head>
  <body>
    <h1>Спасибо вам за подписку на новости о <a href="<%= @url %>">Geek University</a></h1>
    <p>Мы неприменно вас оповестим об открытии университета!</p>
  </body>
</html>