$main-color: #ffb93f
$title-color: #000000
$tagline-color: #999999
$text-color: #ffffff

html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0
  font-family: Arial, Helvetica, sans-serif

*
  box-sizing: border-box

#slider
  background-color: black
  z-index: -100
  top: 0
  left: 0
  right: 0
  bottom: 0
  position: absolute
  list-style-type: none
  padding: 0px
  margin: 0px
  overflow: hidden
  li
    position: absolute
    width: 100%
    height: 100%
    background-repeat: no-repeat
    background-size: cover
    &.inactive
      z-index: -80
    &.previousActive
      z-index: -75
    &.active
      z-index: -70
    img
      position: absolute
      left: 0

#wrapper
  width: 100%
  height: 100%
  display: table
  text-align: center
  #title_container
    display: table-cell
    width: 50%
    vertical-align: middle
    background-color: $main-color
    #logo
      width: 300px
    #title
      font-size: 100px
      color: $title-color
    #tagline
      font-size: 60px
      color: $tagline-color
  #info_container
    display: table-cell
    width: 50%
    vertical-align: middle
    position: relative
    #info_wrapper
      padding: 50px
      #info
        //background-color: black
        color: $text-color
      #subscription
        margin: 0 auto
        padding-top: 30px
        #subscription_email
          border: none
          outline: none
          padding: 10px
          font-size: 16px
          margin: 0
          width: 20em
        #subscribe_button
          border: none
          background-color: white
          color: black
          padding: 10px
          font-size: 16px
          margin: 0
          &:hover
            background-color: black
            color: white
        #thank_you
          display: none
          background-color: green
        #incorrect_email
          display: none
          background-color: red
      .share_wrapper
        padding: 60px
        .share_text
          color: white
          font-size: 20px
        .share_links
          text-align: center
          padding: 0px
          margin: 0px
          a
            padding-right: 5px
            background-color: black
            color: white
            text-decoration: none
            background-image: image-url("icons7.png")
            width: 64px
            height: 64px
            display: inline-block
            background-repeat: no-repeat
            &:hover
              background-color: gray
            &.google
              background-position: 0 0
            &.fb
              background-position-x: -79px
            &.vk
              background-position-x: -159px
            &.twitter
              background-position-x: -238px

    #overlay
      z-index: -50
      top: 0
      width: 100%
      height: 100%
      position: absolute
      overflow: hidden
      background-repeat: repeat
      background-size: cover
      background-position: 0px 0px
      background: image-url("bgd2.png")

@media only screen and (orientation : portrait)
  #wrapper
    display: block
    #title_container
      display: block
      width: 100%
      #title
        margin-top: 0px
      #tagline
        margin-bottom: 0px
        padding-bottom: 20px
    #info_container
      display: block
      width: 100%
      min-height: 800px
