#owl-with-letter
  width: 900px
  margin: 0 auto
  z-index: 90
  text-align: center
  position: relative !important
  #owl
    position: relative
    z-index: 95
  #letter
    margin-top: -23px
    position: relative
    z-index: 90
  #subscription_email
    position: absolute
    bottom: 186px
    left: 340px
    width: 240px
    height: 30px
    border-radius: 15px
    border: 1px solid #ddd
    font-size: 18px
    z-index: 91
    padding-left: 15px
    &:focus
      outline: 0px
      border-color: #6dbbff
  #subscribe-button
    position: absolute
    bottom: 40px
    z-index: 91
    background-color: transparent
    font-size: 0
    text-indent: -9999px
    border: 0
    width: 200px
    height: 43px
    font-size: 20px
    &:enabled
      background-image: url('/assets/button-normal.png')
    &:hover
      background-image: url('/assets/button-hover.png')
    &:disabled
      background-image: url('/assets/button-disabled.png')
