<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Geek University</title>
    <meta name="description" content="Geek University - открытый онлайн университет">
    <meta name="keywords" content="Образование, онлайн, online, учёба, курсы, университет, geek, mooc, русская coursera, coursera, edx, платформа">
    <meta name="author" content="Geek University">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name='yandex-verification' content='59122e4cbe5c0478' />
    <meta name="google-site-verification" content="Q21Pq-XFWfSMYKm2BRkfXskEEb8ALWh5Mr8Nhnpzrhc" />
    <%= stylesheet_link_tag 'application', :media => 'all' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= yield %>

    <%= javascript_include_tag 'application' %>
  </body>
</html>
